
.app-page-order-details .top-margin {
    margin-top: 2px;
}

.app-page-order-details .bottom-margin {
    margin-bottom: 2px;
}

.app-page-order-details .audio-play img {
    height: auto !important;
}
