@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

@font-face {
	font-family: 'product_sansbold';
	src: url('/assets/fonts/productsans-bold.woff2') format('woff2'), url('/assets/fonts/productsans-bold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'product_sansbold_italic';
	src: url('/assets/fonts/productsans-bolditalic.woff2') format('woff2'), url('/assets/fonts/productsans-bolditalic.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'product_sansitalic';
	src: url('/assets/fonts/productsans-italic.woff2') format('woff2'), url('/assets/fonts/productsans-italic.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'product_sansregular';
	src: url('/assets/fonts/productsans-regular.woff2') format('woff2'), url('/assets/fonts/productsans-regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

/* .margin-calc {
	width: calc(100% - 10vw);
	height: 65vh;
  } */

  

.range-slider, .range-slider2 {
	-webkit-appearance: none; /* Remove default styling in WebKit browsers */
	width: 100%; /* Full width */
	height: 8px; /* Height of the track */
	background: #dddddd12; /* Track color */
	border-radius: 4px; /* Rounded corners */
	outline: none; /* Remove focus outline */
	margin: 10px 0; /* Margin for spacing */
	z-index: 1; /* Ensure slider is above progress */
  }

  .range-slider2 {
	height: 5px; /* Height of the track */
  }
  
  /* WebKit browsers (Chrome, Safari) */
  .range-slider::-webkit-slider-runnable-track, .range-slider2::-webkit-slider-runnable-track {
	height: 8px; /* Track height */
	background: #dddddd12; /* Track color */
	border-radius: 4px; /* Rounded corners */
  }

  .range-slider2::-webkit-slider-runnable-track {
	height: 5px; /* Track height */
  }
  
  .range-slider::-webkit-slider-thumb, .range-slider2::-webkit-slider-thumb {
	-webkit-appearance: none; /* Remove default styling */
	width: 20px; /* Thumb width */
	height: 20px; /* Thumb height */
	margin-top: -5px;
	background: orange; /* Thumb color */
	cursor: pointer; /* Pointer cursor on hover */
	border-radius: 50%; /* Rounded thumb */
  }

  .range-slider2::-webkit-slider-thumb {
	width: 15px; /* Thumb width */
	height: 15px; /* Thumb height */
  }

  .range-slider::-webkit-slider-thumb:hover, .range-slider2::-webkit-slider-thumb:hover {
	transition-duration: 300ms;
	box-shadow: 0px 0px 10px 1px orange;
  }
  
  /* Firefox */
  .range-slider::-moz-range-track {
	height: 8px; /* Track height */
	background: #dddddd12; /* Track color */
	border-radius: 4px; /* Rounded corners */
  }
  
  .range-slider::-moz-range-thumb, .range-slider2::-moz-range-thumb {
	width: 15px; /* Thumb width */
	height: 15px; /* Thumb height */
	margin-top: -3px;
	background: orange; /* Thumb color */
	cursor: pointer; /* Pointer cursor on hover */
	border-radius: 50%; /* Rounded thumb */
  }
  
  /* Internet Explorer */
  .range-slider::-ms-track {
	background: transparent; /* Remove default track */
	border-color: transparent; /* Remove default border */
	color: transparent; /* Remove default color */
	height: 8px; /* Track height */
  }
  
  .range-slider::-ms-fill-lower {
	background: #dddddd12; /* Lower track color */
	border-radius: 4px; /* Rounded corners */
  }
  
  .range-slider::-ms-fill-upper {
	background: #dddddd12; /* Upper track color */
	border-radius: 4px; /* Rounded corners */
  }
  
  .range-slider::-ms-thumb {
	width: 15px; /* Thumb width */
	height: 15px; /* Thumb height */
	margin-top: -3px;
	background: orange; /* Thumb color */
	cursor: pointer; /* Pointer cursor on hover */
	border-radius: 50%; /* Rounded thumb */
  }

  .range-container {
	position: relative;
	width: 100%;
	height: 8px; /* Height of the track */
  }

  .range-progress {
	position: absolute;
	top: 0;
	left: 0;
	margin-top: 10px;
	height: 8px; /* Track height */
	background: #4a90e2; /* Color of the completed part */
	border-radius: 4px; /* Rounded corners */
  }

* {
	scroll-behavior: smooth;
}

body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(to bottom,
			transparent,
			rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	font-family: product_sansregular;
	outline: none;
	font-size: 17px;
	letter-spacing: 0em;
}

@-webkit-keyframes loader {
	from {
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	to {
		-webkit-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes loader {
	from {
		-ms-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	to {
		-ms-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: #2d3f53;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #5c6b7d;
	border-radius: 10px;
}
.flie-loader {
    background: url(/assets/images/Button-loader-fly.gif);
    /* background-color: #ff9900; */
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
body {
	min-height: 100vh;
	-webkit-overflow-scrolling: touch;
	background: #030e1c;
	background: -webkit-gradient(to bottom, #0b1521 0%, #182e49 100%);
	background: linear-gradient(to bottom, #0b1521 0%, #182e49 100%);
	background: linear-gradient(to bottom, #0b1521 0%, #182e49 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f1e767", endColorstr="#feb645", GradientType=0);
}

::-webkit-input-placeholder {
	color: #babdc0;
}

::-moz-placeholder {
	color: #babdc0;
}

:-ms-input-placeholder {
	color: #babdc0;
}

:-moz-placeholder {
	color: #babdc0;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
	outline: none;
}

.button {
    width: 100%;
    float: left;
    text-align: center;
    color: white;
    cursor: pointer;
    border: 1px solid white;
	font-family: product_sansbold !important;
}

.textarea {
	color: #333 !important;
	float: left !important;
	width: 100% !important;
	border-radius: 4px !important;
	border: none !important;
	height: 45px !important;
	padding: 10px 10px !important;
	background: #fff !important;
}

p {
	line-height: 20px;
}

b,
strong,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: product_sansbold !important;
}


/* Menu collapse open css */
@keyframes menuTrans {
	0% {
		opacity: 0;
	}

	70% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.menuTrans a,
.menuTrans span,
.menuTrans h2 {
	animation: menuTrans 1s;
}

.collapseMenu .openClose span,
.collapseMenu .collapseMenuMain a {
	font-size: 0;
}

.collapseMenu .collapseMenuMain {
	align-items: center;
	gap: 20px;
}

.collapseMenu a {
	color: white;
}

.collapseMenu h2 {
	display: none;
}

.collapseMenu {
	align-items: center;
	min-width: 100px;
	max-width: 100px;
}

.collapseMenu span {
	justify-content: center;
	gap: 0;
}

.collapseMenu .collapseMenuMain a {
	gap: 0;
	padding: 10px;
	background: #3a4859;
	border-radius: 6px;
}

.collapseMenu .collapseMenuMain section {
	gap: 20px;
}

.collapseMenuMain a {
	position: relative;
}

.collapseMenuMain a div {
	position: absolute;
	background: #545b64;
	padding: 6px 15px;
	z-index: 10;
	left: 100%;
	margin-left: 20px;
	border-radius: 8px;
	visibility: hidden;
	white-space: nowrap;
}

.collapseMenuMain a div:before {
	content: '';
	width: 10px;
	height: 10px;
	background: #545b64;
	position: absolute;
	left: -5px;
	top: 50%;
	transform: rotate(45deg);
	margin-top: -5px;
}

.collapseMenu .collapseMenuMain a:hover div {
	visibility: visible;
}

.rightSideSet {
	width: calc(100% - 300px);
	transition: .5s;
}

.collapseMenu+.rightSideSet {
	width: calc(100% - 100px);
}
.paraPadcz p{    padding: 10px 0;
    font-size: 17px;
    line-height: 25px;}

ul#alphabets {
    position: fixed;
    width: 28px;
    right: 0;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    color: white;background: transparent;
}
.listSerachCZ ul {
    background: #030e1c;
}

ul#alphabets a {
    display: block;
    font-size: 12px;
    font-family: product_sansbold !important;
}
/* Menu collapse open css */
.squareSet {
    /* aspect-ratio: 1 /1; */
    background: #030e1c;
}
.activeSidebarLink{ font-family: product_sansbold !important;}
.loaderGradient {
	background: linear-gradient(to bottom, #4e6878 75%, #3a536a 50%);
	display: block;
}

.spaceBorder section {
	border-bottom: 1px solid #232c37
}
a.yellow.button-google {
    width: 100%;
    background: transparent !important;
    color: white;
    border: 1px solid white;
    border-radius: 6px;
    padding: 14px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.channel-selected:before {
    content: '';
    background:rgba(3, 14, 28, 0.70);
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
.channel-selected:after {
    content: '';
    background-image: url('/assets/images/check-in.png');
    width: 32px;
    height: 32px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }